###############
#    ignore   #
###############
###############
#    global   #
###############
RemoteSystemsTempFiles/
.metadata/
.recommenders/
deployment/
Servers/
###############
#    project  #
###############
broadband/.settings/
broadband/target/
broadband/.classpath
broadband/.project
broadband/.springBeans